*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
.header{
    display: flex;
    align-items: center;
    padding:20px;
    justify-content: space-between;
}
.container{
    padding:10px 20px;
    margin:10px;
}
#display{
    width:100%;
    height:50px;
    background:hsl(0, 0%, 93%);
    color:black;
    text-align: right;
    font-size: 30px;
    padding:5px;
    font-weight: bold;
    border-radius: 5px;
}
.buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap:10px;
    padding:5px 10px;
}
.calc{
    padding:20px 5px;
    margin:10px auto;
    border-radius: 10px;
    background: hsl(0, 5%, 81%);
}
.del{
    background:hsl(185, 42%, 37%);
    color:white;
}
button{
    padding:10px;
    border:none;
    background:whitesmoke;
    border-radius: 5px;
    font-weight: bold;
    box-shadow:inset 0px -3px 0px   hsl(35, 11%, 61%);
}
.equal{
    background: hsl(6, 63%, 50%);
}
.reset{
    background:hsl(185, 42%, 37%);
    color:white;
}
.lastbtn{
    display:flex;
    justify-content: space-between;
    padding: 0 5px;
}
.lastbtn button{
    width:100%;
    padding:10px 0;
    margin:0 5px;
}

.switch-toggle {
    float: left;
    border-radius: 50px;
    background: #242729;
 }
 .switch-toggle input {
   position: absolute;
   opacity: 0;
 }
 .switch-toggle input + label {
   padding: 10px 15px;
   float:left;
   border-radius: 50px;
   color: #fff;
   cursor: pointer;
        transition: 1s all;
 }
 .switch-toggle input:checked + label {
   transition: 1s all;
   background:coral;
     padding:10px;
 }

 .number{
     display: flex;
     width:100%;
     justify-content:flex-end;
 }
 .number p{
     margin: 0 10px;
 }
 .flex{
     display: flex;
     align-items: center;
     justify-content: flex-end;
 }
 .flex p{
     margin: 0 10px;
 }
 @media screen and (min-width:700px){
     .container{
         width:50%;
     }
     body{
         display:flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         height:100vh;
     }
     .header{
         width:50%;
     }
 }

 @media screen and (min-width:1020px){
     .container{
         width:30%;
     }
     .header{
         width:30%;
     }
     .buttons{
         height:250px;
         width:100%;
     }
 }
